*{margin:0;padding:0}
body{
	background-color:#EEE8AE;
}
#wrapper{
	width:960px;
	margin:0 auto;
}
#header{
	background-color:#FAB72A;
	padding;15px;
}
#header h2{
	color:#FFFFF1;
}
#header p{
	color:#788420;
}
#nav{
	background-color:#fff;
}
#nav ul{
	background-color:#fff;
	list-style-type:none;
}
#nav ul li{
	float:left;
	border-right:2px solid #6B710E;
}
#nav ul li:last-child{
	border:none;
}
#nav ul li a{
	text-decoration:none;
	color:#6B710E;
	display;block;
	padding:10px 20px;
}
#nav ul li a:hover{
	color:#827159;
}
#nav ul li{
	position:relative;
}
#nav ul li ul{
	position:absolute; left:-99999px;
}
#nav ul li ul li{
	border:none;
}
#nav ul li:hover ul{
	left:0;
}
#content{
	background-color:#fff;
}
#sidebar{
	background-color:pink;
}
#footer{
	background-color:#fff;
}
#sidebar ul{
	list-style-type:none;
}
